<div class="row">
  <div class="col">
    <a onclick="window.history.back()"><< Back</a>
  </div>
</div>
<h2>Player: {{ nickname }}</h2>
<div class="row" *ngIf="hasAvatar">
  <div class="col">
    <img style="height:35px;width=35px;border-radius: 50%;max-height:100%;max-width:100%" src="/views/avatar/{{profileId}}/">
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Games played: {{played}} </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Total winnings: ${{winnings}} </p>
  </div>
</div>
<div class="row">
  <div class="col">
  <p>First places: {{firstPlaces}}</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Second places: {{secondPlaces}}</p>
  </div>
</div>
<div class="row">
    <div class="col">
    <p>Third places: {{thirdPlaces}}</p>
  </div>
</div>

<h3>Game Details</h3>
<div class="row" *ngFor="let gamePlayer of gamePlayers">
  <div class="col">
    #{{gamePlayer.game.number}}
  </div>
  <div class="col">
    Stake ${{gamePlayer.game.stake}} <span *ngIf="gamePlayer.rebuys > 0">({{gamePlayer.rebuys}} rebuys)</span>
  </div>
  <div class="col">
    Position: {{gamePlayer.position}}
  </div>
  <div class="col">
    Winnings: ${{gamePlayer.winnings}}
  </div>
  <div class="col">
    Profit: ${{gamePlayer.winnings - ((gamePlayer.rebuys+1)*(gamePlayer.game.stake)) }}
  </div>
</div>
