<div class="row">
  <div class="col">
    <a onclick="window.history.back()"><< Back</a>
  </div>
</div>
<h2>Player: {{ nickname }}</h2>
<div class="row">
  <div class="col">
    <p>Games played: {{played}} </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Total winnings: ${{winnings}} </p>
  </div>
</div>
<div class="row">
  <div class="col">
  <p>First places: {{firstPlaces}}</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Second places: {{secondPlaces}}</p>
  </div>
</div>
<div class="row">
    <div class="col">
    <p>Third places: {{thirdPlaces}}</p>
  </div>
</div>
