<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pokerui</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  {% if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>
  {% else %}
    <a href="/login/google-oauth2/">Log in with Google</a>
  {% endif %}
  <app-root></app-root>
  <script src="/static/ang/runtime.js" type="module"></script>
  <script src="/static/ang/polyfills.js" type="module"></script>
  <script src="/static/ang/styles.js" type="module"></script>
  <script src="/static/ang/vendor.js" type="module"></script>
  <script src="/static/ang/main.js" type="module"></script>
</body>
</html>
