<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand" href="#" style="background-image: url(/static/3poker.jpg)">Poker Party Tracker</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="#" [routerLink]="['/events']">Events</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="#" [routerLink]="['/profiles']">Players</a>
      </li>
      <!--
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="isProfileCollapsed = !isProfileCollapsed">
          <fa-icon [icon]="faUser" size="lg"></fa-icon>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>-->
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          <fa-icon [icon]="faUser"></fa-icon> {{ authSvc.nickname }}
        </a>

        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4" ngbDropdownMenu >
          <div *ngIf="authSvc.isUserLoggedIn === true">
            <button class="dropdown-item">My account</button>
            <button class="dropdown-item" [routerLink]="['/profile/', authSvc.profileId]" ngbDropdownItem>My statistics</button>
            <button class="dropdown-item" *ngIf="authSvc.isSuperuser" onclick="window.location.href='/admin/'" ngbDropdownItem>Admin</button>
            <button onclick="window.location.href='/views/logout/'" ngbDropdownItem>Log out</button>
          </div>
          <div *ngIf="!authSvc.isUserLoggedIn">
            <button onclick="window.location.href='/login/google-oauth2/'" ngbDropdownItem>Log in with Google</button>
          </div>
        </div>
        </div>
      </li>
    </ul>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>
