<div class="row">
  <div class="col">
    <a [routerLink]="['..']"><< Back</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Details</h2>
  </div>
</div>
<div class="row">
  <div class="col-2 align-items-center">
    <span title="{{ event?.date }}">
      <span style="display:block; text-align:center; color:#fa3e3e">{{ event?.date | date:'MMM' | uppercase }}</span>
      <span style="display:block; text-align:center">{{ event?.date | date:'d' }} </span>
      <span style="display:block; text-align:center" *ngIf="isPastYear()">{{ event?.date | date: 'yyyy' }}</span>
    </span>
  </div>
  <div class="col-10">
    <div class="col">
      <div class="row">
        <div class="col">Host: {{ event?.host.nickname }}</div>
        <div class="col">
          <p>Status: {{ status_text(event?.status) }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            Players: <button class="btn btn-outline-primary" id="dropdownAttendingList" ngbDropdownToggle>{{filter_players(['AT', 'AD'], event?.eventplayerSet)?.length}} players</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAttendingList">
              <div *ngFor="let player of filter_players(['AT', 'AD'], event?.eventplayerSet)">
                <button ngbDropdownItem *ngIf="['AT', 'AD'].includes(player.attendance)" routerLink="/profile/{{player.player.id}}">{{player.player.nickname}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
        <p *ngIf="event?.highHand">High Hand Winner: {{ event?.highHandWinner.nickname }}<app-pokerhand [pokerHand]="getHighHand()"></app-pokerhand></p>
        </div>
        <!--<div class="col">Interested: ...</div>-->
      </div>
      <div *ngIf="authSvc.isUserLoggedIn && (event.status == 'P' || event.status == 'C')" class="row">
        <div class="col-10"></div>
        <div class="col">
          <div ngbDropdown class="d-inline-block float-right">
            <button class="btn btn-outline-primary" id="dropdownAttending" ngbDropdownToggle>
              <span *ngIf="myEventPlayer.attendance=='NA' || myEventPlayer.attendance=='IN'">Interested</span>
              <span *ngIf="myEventPlayer.attendance=='AT'">Attending!</span>
              <span *ngIf="myEventPlayer.attendance=='NI'">Not attending</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownAttending">
              <button (click)="setAttendance('AT')" ngbDropdownItem>Attending!</button>
              <button (click)="setAttendance('IN')" ngbDropdownItem>Interested</button>
              <button (click)="setAttendance('NI')" ngbDropdownItem>Not attending</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div>
  <div class="card" *ngFor="let msg of event.eventchatmessageSet">
    <div class="row">
      <div class="col-2">
        <p>{{ msg.fromPlayer.nickname }}</p>
        <p><small>{{ msg.sendDate | date:'short'}}</small></p>
      </div>
      <div class="col">
        {{ msg.text}}
      </div>
    </div>
  </div>
  <div class="card">
    <form>
      Input: <input type="text" name="comment"/>
    </form>
  </div>
</div>
-->
<div *ngIf="event?.gameSet.length > 0" class="row">
  <div class="col">
    <h2>Games</h2>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6" *ngFor="let game of event?.gameSet">
    <div class="row">
      <div class="col">
        <h4># {{ game.number}}</h4>
      </div>
      <div class="col">
        <h5>Stake: ${{ game.stake }}</h5>
      </div>
    </div>
    <div class="row" *ngFor="let player of playersOrderedByWinner(game.gameplayerSet)" routerLink="/profile/{{player.player.id}}">
      <div class="col">
        {{player.player.nickname}}
      </div>
      <div class="col">
        <span *ngIf="player.position == 1"><fa-icon style="color:goldenrod" [icon]="faTrophy" size="lg"></fa-icon>1st!</span>
        <span *ngIf="player.position == 2"><fa-icon style="color:silver" [icon]="faTrophy" size="lg"></fa-icon>2nd!</span>
        <span *ngIf="player.position == 3"><fa-icon style="color:darkgoldenrod" [icon]="faTrophy" size="lg"></fa-icon>3rd!</span>
      </div>
      <div class="col">
        <span *ngIf="player.winnings > 0">${{ player.winnings }}</span>
      </div>
      <div class="col">
        <span *ngIf="player.rebuys > 0">({{ player.rebuys }} rebuys)</span>
      </div>
    </div>
  </div>
</div>
